/* styles/globals.css */

@import 'material-symbols';

@font-face {
  font-family: 'Libre Barcode 39';
  src: url('/fonts/LibreBarcode39-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-VariableFont_wght.ttf') format('truetype'),
       url('/fonts/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype'),
       url('/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  color: #000;
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
